

.staff-profile{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-left: auto;
}

.profile-rounded {
    border-radius: 50%;
}

.profile-inline {
    float: left;
    margin-right: $spacing-unit;
}