@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');

// Define defaults for each variable.

$base-font-family: 'Open Sans', sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$primary-color: #5D32F5;
$secondary-color: #7C6BFB;
$accent-color: #F485FE;
$text-color: lighten($secondary-color, 50%) !default;


$grey-color:       desaturate(darken($text-color, 20%), 20%) !default;
// $grey-color-light: lighten($grey-color, 20%) !default;
$grey-color-light: $accent-color;

$grey-color-dark:  $secondary-color;

$background-color: desaturate(darken($accent-color, 70%), 60%) !default;
$brand-color:      $primary-color !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$z-index-ui: 1000;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// For the downloads list at the end of posts
.download-list {
  list-style: none;
  margin-left: 0;
  & > hr {
    margin-bottom: $base-font-size;
  }
}

// For the main downloads table at /downloads
.downloads-table {
  & ul {
    // The list of files
    list-style: none;
    margin: 0;
    max-height: 6rem;
    overflow: auto;
  }
}

.gcal-link > img {
  margin-bottom: 0.33 * $base-font-size;
}

// Fix nav appearing behind images
.site-nav {
  z-index: $z-index-ui;
}

.site-nav div.trigger {
  display: flex;
}

.title-img {
  width: 13rem;
}

.img-fill-width {
  width: 100%;
}
// Import partials.
@import
  'banner-img',
  'staff.scss',
  'tile-list.scss',
  'home.scss',
  'terminal.scss',
  'login.scss',
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
  