<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}
  <div class="banner-container">
    <img class="banner-img" src="{{page.banner-image}}">
    <img class="banner-logo" src="{{page.logo-image}}">
    <div class="pusher"></div>
  </div>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">
        {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}
        {{ content }}

        {%- if site.pages.size > 0 -%}
        {%- for page in site.pages -%}
          {%- if page.title == "About" -%}
          <h2>About Us!</h2>
          <p>{{page.blurb}}</p>
          {%- endif -%}
        {%- endfor -%}
        {%- endif -%}

        <div id = 'email-sub' >
          <p>Sign up for our email list below!</p>
          <form action="http://github.us9.list-manage.com/subscribe/post?u=cf1fafbda315812617288f238&amp;id=d0fcfb2a4b" method="POST">
            <div class = "form__group field">
              <input class="form__field" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id='MERGE0' value="" placeholder="jmcshane@fordham.edu">
              <label for="MERGE0" class="form__label">Email</label>
            </div>  
            <br><br>
            <input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xl">
            <br>
            <br>
            <input type="hidden" name="u" value="1b70be498004c115d153aaeeb">
            <input type="hidden" name="id" value="59bdfc55c0">
          </form>
        </div>

        {%- if site.posts.size > 0 -%}
        <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
        <ul class="post-list">
          <!--
            The following is a horrible, horrible shiv brought to you by Richard Morrill because
            he doesn't want to learn Ruby to modify the actual page generator to implement filtering
            on multiple categories, and for whatever reasons Shopify decided that nobody would ever
            need to union two lists in Liquid.
          -->
          {%- assign announcements = "" | split:"," -%}

          {%- for post in site.posts -%}

          {%- if post.categories contains "events" or post.categories contains "blog" -%}
          {%- assign announcements = announcements | push:post -%}
          {%- endif -%}
          {%- endfor -%}
          {%- if announcements -%}
          {%- assign sortedAnnouncements = announcements | sort:"date" | reverse -%}
          {%- for post in sortedAnnouncements -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                
                {{ post.title | escape }}{%- if post.event_date -%}: {{post.event_date | date: date_format}}{%- endif -%}
              </a>
              {%- if post.gcal_link -%}
              <a target="_blank" href="{{post.gcal_link}}" class="gcal-link"><img border="0"
                src="./assets/img/google-calendar.png" style="height:30px;"> Google Calendar</a>
              {%- endif -%}
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
          {%- endif -%}
        </ul>

        {%- if site.posts.size > 0 -%}
        {%- assign staff_by_year = site.categories.staff | group_by:"yearGroup" -%}
        {%- for year in staff_by_year -%}
        <h2>{{year.name}} Eboard</h2>
        <ul class="tile-list">
          {%- assign eboard = year.items | sort:"posIndex" -%}
          {%- for post in eboard -%}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
            <img class="staff-profile profile-rounded" src="{{ post.image | relative_url }}">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3 class="tile-name">

              {{ post.staffName | escape }}

            </h3>
            <h4 class="tile-subtitle">
              {{ post.position }}
            </h4>
            </a>
          </li>
          {%- endfor -%}
        </ul>
        {%- break -%}
        {%- endfor -%}
        {%- endif -%}
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
        {%- endif -%}

      </div>
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>